# dependencies
node_modules/

# test
.test/

# frontend build artifacts
front/dist/
*.tsbuildinfo

# backend build artifacts
backend/bin/

# documents (private until docs are ready for open source)
*.md
*.mmd
